<div class="inner-banner">
    <img src="../../assets/images/appointment/inner-banner-14.png" alt="">
</div>
<div class="pageHeading">
    <div class="container">
        <h1>Request </h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Request</li>
            </ol>
        </nav>
    </div>
</div>


<section class="privacy-policy-section">
    <div class="container">
        <h1 class="main-heading">Request Appointment</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum.</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book.</p>

    </div>
</section>

<section class="appointment-section">
    <div class="container">
        <div class="container-fluid spinner" *ngIf="isProcessing" style="height: 100vh;">
            <div class="row align-items-center justify-content-center" style="height: 100%;">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        <h2>Appointment</h2>
       
        </div>
        <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
        <div class="row">
           
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="Name"
                            [ngClass]="{'is-invalid':submitted && requestForm.controls.Name.errors}"
                            placeholder="Enter the Name">
                        <img class="black" src="../../assets/images/appointment/user-2.png" alt="">
                        <img class="green" src="../../assets/images/appointment/user.png" alt="">
                        <div *ngIf="submitted && requestForm.controls.Name.errors" class="text-danger">
                            <div *ngIf="submitted && requestForm.controls.Name.errors.required">
                                Name is required
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="phonenumber"
                            [ngClass]="{'is-invalid':submitted && requestForm.controls.phonenumber.errors}"
                            placeholder="Phone Number">
                        <img class="black" src="../../assets/images/appointment/phone-1.png" alt="">
                        <img class="green" src="../../assets/images/appointment/phone-1-green.png" alt="">
                        <div *ngIf="submitted && requestForm.controls.phonenumber.errors" class="text-danger">
                            <div *ngIf="submitted && requestForm.controls.phonenumber.errors.required">
                                Phone Number is required
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" formControlName="message" placeholder="Messages Here"
                            [ngClass]="{'is-invalid':submitted && requestForm.controls.message.errors}"></textarea>
                        <img class="black" src="../../assets/images/appointment/mail-2.png" alt="">
                        <img class="green" src="../../assets/images/appointment/mail-2-green.png" alt="">
                        <div *ngIf="submitted && requestForm.controls.message.errors" class="text-danger">
                            <div *ngIf="submitted && requestForm.controls.message.errors.required">
                                Message is required
                            </div>
                        </div>
                    </div>
                    <!-- <button class="main-btn">Submit</button> -->

                </div>
                <div class="col-lg-6">
                    <div class="select-below">
                        <h3>Select the below options that you need</h3>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" formControlName="NRIQuota" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">NRI Quota</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" formControlName="Scholarship"class="custom-control-input" id="customCheck2">
                            <label class="custom-control-label" for="customCheck2">Scholarship</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" formControlName="InstituteRegistration" class="custom-control-input" id="customCheck3">
                            <label class="custom-control-label" for="customCheck3">Institute Registration</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox"  formControlName="InstituteRegistration2" class="custom-control-input" id="customCheck4">
                            <label class="custom-control-label" for="customCheck4">Institute Registration</label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="standard">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck5">
                            <label class="custom-control-label" for="customCheck5">Lorem Ipsum has been the industry's
                                <span>standard dummy text</span> ever since the 1500s, when an unknown printer</label>
                        </div>
                    </div>
                </div>
                <div *ngIf="successmsg" >
                    <p class="succes">Registered Successfully !</p>
                </div>
                <div class="col-12 text-right">
                    <button class="main-btn">Submit</button>
                </div>
            </div>
            </form>
     
    </div>           
</section>
